#szn-autocomplete-wrap {
    max-width: 500px;
    position: relative;
    min-width: 150px;
}

input[szn-autocomplete],
.szn-autocomplete-shadow-input {
    width: 100%;
    border: 1px solid #707070;
    color: #222;
    padding: 5px 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 4px;
}

.szn-autocomplete-shadow-input {
    color: #666;
}

.szn-autocomplete-results {
    padding: 0;
    width: 100%;
}

.szn-autocomplete-results li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.szn-autocomplete-results h5 {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
}

.szn-autocomplete-results p {
    margin: 0;
    white-space: normal;
    font-size: 13px;
}

.szn-autocomplete-results .wordcount {
    font-size: 13px;
    color: #707070;
}

input.szn-autocomplete-shadow-input {
    height: 100%;
    width: 100%;
    color: #ABABAB;  
}

input[szn-autocomplete] {
    border: 1px solid #fff;
    padding: 3px 12px;
}

li[szn-autocomplete-result] {
    background-color: #fff;
}

div#szn-autocomplete-wrap .btn-reset-email,
div#szn-autocomplete-wrap .btn-edit-email {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #C0C0C0;
}

div#szn-autocomplete-wrap .btn-edit-email {
    right: 25px;
}

div#szn-autocomplete-wrap .btn-reset-email:hover,
div#szn-autocomplete-wrap .btn-edit-email:hover {
    cursor: pointer;
    color: #fff;
}

input[szn-autocomplete]::-moz-placeholder {
    color: #CACACA;
}

input[szn-autocomplete]:-ms-input-placeholder {
    color: #CACACA;
}

input[szn-autocomplete]::-webkit-input-placeholder {
    color: #CACACA;
}

li[szn-autocomplete-result] .gravatar {
    width: 30px;
    height: 30px;
}

.actions-col {
    width: 150px;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
}