/* Media Queries */
@media (max-width: 1376px) {
	.headPrice, .creditMargin .form-control, .navbar-default .navbar-nav>li>a, .nav-tabs>li>a, .sideNav .header > a, .nameField input,
	  .nameField select, .nameField textarea, table.table th, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus,
	  .mainButton, .btn.btn-info.btn-large, .white ul li, .white ol li, .sideNav .header a, .gray .panel-title>a:first-child,
	  table.table th, table.table td, table.table tbody th, table.table tbody td {font-size: 13px !important;}
	.white h2, .midFooter ul li a, .bottomFooter .first-list li a, .gray a, .create-cloudspace, .dropdown-menu>li>a, .control-label,
	  .msg.alert.alert-warning p, .table.users-table .header .btn, .white p, .bottomFooter ul li a, .bottomFooter ul li, .machineList ul li a, .storage-size-list button { font-size: 13px; }
	.machineList ul li a, .storage-size-list button { font-weight: normal; }
	.mainButton, .btn.btn-info.btn-large { padding: 7px 10px !important; }
	.white ul li, .white ol li { line-height: 30px; }
	.sideNav .header a { text-align: center; }
	.msg.alert.alert-warning p { line-height: 12px; }
	.gray .panel-title>a{ padding: 8px 14px; }
	.table.users-table .header .btn { padding: 3px 5px; }
	.white p { line-height: 24px !important; }
	.bottomFooter ul li a, .bottomFooter ul li { color: #FFF; font-family: arial, sans-serif; }
	.gray .panel-heading .panel-title>a{ background: url(../img/images/acc-arrow-close.png) 13px 10px no-repeat #F3F3F3 !important; padding: 8px 25px; color: #4f4f4f !important; }
	.user-name, .form-horizontal.contact_form label, .inputStyle, .areaStyle textarea { font-size: 12px !important; }
	h4, .h4 { font-size: 18px; }
	.question-symbol i { font-size: 18px !important; }
	.expires { width: 39% !important; margin: 0 3px; }
	.creditForm .nameField { width: 60% !important; }
	.creditForm .nameField h2 { max-width: 102px !important; }
	.nameField h2 { max-width: 73px !important; }
	.boxes p { width: 340px !important; }
	.mainText { font-size: 36px !important; }
	.nameField { width: 57% !important; }
	.leftIcon { margin: 0 0 0 204px; }
	.machineList ul li, .storage-size-list li { margin: 17px 4px !important; }
	.signUp { font-size: 10px; }
	.navbar-nav>li>a { padding-top: 5px; padding-bottom: 5px; }
	.navbar.navbar-default { min-height: 31px; }
	.white h1 { font-size: 24px !important; }
	.nav-tabs>li>a:hover { border-color: #eee #eee #ddd; border-bottom: 2px; }
	.myNav ul li a { font-size: 14px !important; background-size: 11px auto !important; }
	.navbar-right.clearR { margin: 33px 0 0 0; }
	body { background-size: 1376px auto; background: url(../img/space&mountain.jpg) no-repeat center 0 #000; }
	.boxes img { width: 100px; }
	.gray .panel-body ul li { margin: 0 9px !important; }
	.question-symbol { margin: 6px 10px 1px 0 !important; }
	.sideNav { width: 138px; }
	.topFooter { height: 191px; background: url(../img/images/footer-bg.jpg) no-repeat center top; background-size: 900px auto; }
	.arrow { font-size: 24px !important; }
	.midFooter { padding: 0; }
	.form-control { padding: 0 10px; }
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus { padding: 5px 10px; }
	.nav-tabs>li>a { padding: 5px 10px !important; }
	.nav-tabs { margin:  10px 0; }
	.gray .panel-heading.open .panel-title>a{ background: url(../img/images/acc-arrow-open.png) 11px 11px no-repeat #F3F3F3 !important; padding: 8px 25px; color: #4f4f4f !important; }
	.osimage-label { width: 9% !important; }
	.account-container.stacked { width: 544px !important; }
	.signUpForm .inputWrap { width: 69% !important; }
	.marginTop { margin-top: 0px; margin-bottom: 80px; }
	.refresh-page { margin-bottom: -25px; font-size: 13px; }
}
@media (max-width: 1290px) {
	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFF !important;}
	.create-cloudspace-container {background: #FFFFFF !important;}
	.navbar-default .navbar-nav>li>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs>li>a,
	 .btn.btn-info.btn-large, .mainButton, .white ul li, .sideNav .header a, .nameField input, .nameField select, .nameField textarea,
	 .gray .panel-title>a:first-child, table.table th, table.table th, table.table td, table.table tbody th, table.table tbody td, .white h2, .machineList ul li a,
	 .storage-size-list button, .midFooter ul li a, .bottomFooter .first-list li a, .msg.alert.alert-warning p, .gray a, .create-cloudspace,
	 .table.users-table .header .btn, .white p,
	 .dropdown-menu>li>a, .control-label { font-size: 12px !important; }
	.white ul li { line-height: 30px; }
	.sideNav .header a { text-align: center; }
	.gray .panel-title>a{ padding: 8px 14px; }
	.btn.btn-info.btn-large, .mainButton { padding: 7px 10px !important; }
	.msg.alert.alert-warning p { line-height: 12px; }
	.machineList ul li a, .storage-size-list button { font-weight: normal; }
	.table.users-table .header .btn { padding: 3px 5px; }
	.creditForm .nameField { width: 64% !important; }
	.creditForm .nameField h2 { max-width: 69px !important; }
	.boxes p { width: 340px !important; }
	.mainText { font-size: 40px !important; }
	.nameField { width: 76% !important; }
	.leftIcon { margin: 0 0 0 90px !important; }
	.machineList ul li, .storage-size-list li { margin: 17px 4px !important; }
	.signUp { font-size: 11px !important; }
	.navbar-nav>li>a { padding-top: 5px 0; }
	.navbar.navbar-default { min-height: 31px; }
	.white h1 { font-size: 24px !important; }
	.nav-tabs>li>a:hover { border-color: #eee #eee #ddd; border-bottom: 2px; }
	.myNav ul li a { font-size: 14px !important; background-size: 11px auto !important; }
	.navbar-right.clearR { margin: 33px 0 0 0; }
	body { background-size: 1290px auto; }
	.boxes img { width: 100px; }
	h4, .h4 { font-size: 18px; font-weight: bold; }
	.sideNav .header > a { font-size: 13px !important; }
	.gray .panel-body ul li { margin: 0 9px !important; }
	.question-symbol { margin: 6px 10px 1px 0 !important; }
	.question-symbol i { font-size: 18px !important; }
	.sideNav { width: 138px; }
	.topFooter { height: 191px; background: url(../img/images/footer-bg.jpg) no-repeat center top; background-size: 900px auto; }
	.arrow { font-size: 24px !important; }
	.midFooter { padding: 0; }
	.bottomFooter ul li a, .bottomFooter ul li { color: #FFF; font-family: arial, sans-serif; font-size: 13px; }
	.form-control { padding: 0 10px; }
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus { padding: 5px 10px; background: #345E79;color: #FFF;}
	.nav-tabs>li>a { padding: 5px 10px !important; }
	.nav-tabs { margin:  10px 0; }
	.gray .panel-heading .panel-title>a{ background: url(../img/images/acc-arrow-close.png) 13px 9px no-repeat #F3F3F3 !important; padding: 8px 25px; color: #4f4f4f !important; }
	.gray .panel-heading.open .panel-title>a{ background: url(../img/images/acc-arrow-open.png) 11px 10px no-repeat #F3F3F3 !important; padding: 8px 25px; color: #4f4f4f !important; }
	.osimage-label { width: 12% !important; }
	#decks-list li { font-size: 13px !important; }
	.bottomFooter ul { margin-left: -56px; }
	.color3 { margin: 0 0 0 90px; }
	.newDecks .boxes h2 { float: none; }
	.boxDecks2 { width: 29.333333% !important; }
}
@media (max-width: 1290px) and (min-width: 1280px) {
	.container {width: 1280px;}
}
@media (max-width: 1024px) and (min-width: 1024px) {
	.container {width: 1024px;}
}
@media (max-width: 1290px) and (min-width: 992px) {
	.boxes h2 { float: left; clear: both; }
	.boxes p { width: 100% !important; }
	.bottomFooter ul { margin-left: -56px; }
	.newDecks .color3 { margin: 10px 0; }
	.the-price h1, .the-price h1 span { font-size: 16px !important; }
	.borderRight1 img { margin-left: -50px; }
    .borderRight1 { border-right: 0; }
    .borderRight1 + .col-md-6 ul li { list-style: none; }
}
@media (max-width: 992px) {
	.access-rights.update .access-right-block {display: block;}
	.create-cloudspace-container { background: #4E8BB3 !important; padding-left: 47px;}
	.gray a {color: #FFF !important;}
	.gray .panel-body {background: inherit !important;border-top: 0 !important;}
	.gray .panel-heading.open .panel-title>a{background: url(../img/images/acc-arrow-open-white.png) 11px 10px no-repeat #4E8BB3 !important;padding: 8px 25px;color: #fff !important;}
	.pull-right .right { margin: 0 0 0 0;}
	.logo {    margin: 12px 0 10px 0;display: inline-block;}
	.creditForm .nameField { width: 70% !important; }
	.boxes p { width: 77% !important; }
	.boxes.font { display: inline-block; width: 100%; margin: 20px 0 !important; }
	.nameField { width: 84% !important; }
	footer .container { width: auto; }
	.midFooter { padding: 0; }
	.bottomFooter .col-md-1 { display: none; }
	.bottomFooter .col-md-3 { clear: both; }
	.modal .col-md-3 h4 { margin: 10px auto !important; }
	.gray .panel-heading .panel-title>a{background: url(../img/images/acc-arrow-close-white.png) 13px 9px no-repeat #4E8BB3 !important;padding: 8px 25px; color: #FFF !important;}
	.bottomFooter { padding: 0; }
	.osimage-label { width: 100% !important; }
	.controls2 { width: 100% !important; }
	.myNav ul li { text-align: left; margin: 10px 10px; }
	.bottomFooter ul { margin-left: -56px; }
	.tabOfPrice { clear: both; }
	.half.copy.col-md-6 + .justOne { text-align: center; }
	.billWrap .span6 { border-left: 0 !important; }
	.machine-actions { border-left: 0 !important; }
	.form-horizontal.contact_form label { width: 100%; }
	.mainButton { margin-bottom: 10px; }
	.refresh-page { z-index: 2; position: absolute; right: 15px; top: -21px; font-size: 13px !important;}
	.well { padding: 0 0px !important; }
	.boxDecks2 { width: auto !important; min-height: auto !important; }
	.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 { width: 100%; clear: both; }
	.bigButtonSignUp {margin-top: 45px !important;margin-bottom: -12px !important;text-align: center !important;}
	.borderRight1 { border-right: 0; margin-bottom: 15px; }
    .borderRight1 + .col-md-6 ul li { list-style: none; }
    .borderRight1 img { margin-left: -50px; }
    .navbar-collapse.in {margin-bottom: 35px;}
    .nav.navbar-nav li:first-child a {color: #FFF;}
	.sideNav { width: 100% !important;position: static !important; padding-bottom: 20px;}
	.white { padding-top: 0 !important;}
	a.content-gear:after {
    content: "Cloud Space Settings";
	}
	.sm-margin {
		margin-top: 35px;
	}
}
@media (max-width: 768px) {
	.nav-tabs { border-bottom: 1px solid #345E79;}
	.navbar-inverse .navbar-toggle {border-color: #333;margin: 8px 35px 0 0;}
	.nameField textarea { font-size: 16px; }
	.creditForm .nameField, .nameField textarea, .osimage-label, .signUpForm .inputWrap input, .controls2, .sideNav { width: 100% !important; }
	.boxes.font, .open-cloudspace-nav, .nameField, .nameField input,.nameField select, .modal { width: 100%; }
	.boxes.font { display: inline-block; margin: 20px 0; }
	.sideNav { position: static !important; }
	.nameField h2 { max-width: 100% !important; }
	.boxes p { width: 79% !important; }
	.jumbotron p { margin-bottom: 0px; font-size: 35px !important; font-weight: 200; }
	.mainText { font-size: 35px !important; color: #FFF; }
	.dropdown-menu { position: static; }
	.navbar-collapse { max-height: inherit !important; }
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a { color: #FFF; }
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover { color: #000; }
	label + .controls { display: inherit !important; margin: 0 0 0 0; }
	footer .container { width: auto; }
	.marginText { margin-left: 0px; }
	.jumbotron p { font-size: 31px !important; }
	.midFooter { padding: 0; }
	.bottomFooter .col-md-1 { display: none; }
	.bottomFooter .col-md-3 { }
	.modal { width: 70% !important; left: 56% !important; }
	.modal-footer button { font-size: 12px; }
	.modal-header h2 { font-size: 15px; }
	.modal .col-md-3 h4 { margin: 10px auto !important; }
	.modal .col-md-3 img { display: none; }
	.gray .panel-heading .panel-title>a{ background: url(../img/images/acc-arrow-close-white.png) 13px 9px no-repeat #4E8BB3 !important; padding: 8px 25px; color: #FFF !important; }
/*	.gray .panel-heading.open .panel-title>a{ background: url(../img/images/acc-arrow-open-black.png) 11px 10px no-repeat #4E8BB3 !important; padding: 8px 25px; color: #000 !important; }*/
	.gray .panel-body { background: inherit !important; border-top: 0 !important; }
	.gray a { color: #FFF !important; }
	.gray a:hover { color: #000 !important; }
	.accordionInside { min-width: auto; }
	.create-cloudspace-container { background: #4E8BB3 !important; padding-left: 25px;}
	.create-cloudspace { color: #FFF; }
	.create-cloudspace:hover { color: #000; }
	.gray .panel-body ul li { margin: 5px 9px !important; }
	.navbar-header + .navbar-collapse .navbar-right { text-align: right; }
	.navbar-right.clearR.myNav ul { text-align: right; margin: 13px 0; padding: 0; float: none; }
	.myNav ul { float: right; }
	.form-horizontal .control-label { text-align: left !important; }
	.nav.navbar-nav.navbar-right { text-align: left; }
	.account-container.stacked { width: 400px !important; }
	.signUpForm .inputWrap { width: 97% !important; }
	.upMargin { margin: 30px auto 0 !important; }
	.inputWrap { width: 98% !important; }
	.myNav ul li { text-align: left; float: none !important; }
	.nav.navbar-nav li:first-child { margin: 0; padding: 0; }
	.nav.navbar-nav li:first-child a { margin-left: 0; padding-left: 0; margin: 6px 0;}
	.bottomFooter ul { margin-left: -56px; }
	.navbar-collapse.in { overflow-x: hidden; margin-bottom: 35px;}
	.techspecs th.title { display: none; }
	.techspecs tr td { display: inherit; }
	.appMargin { margin-top: -38px; width: 80%; }
	.half.copy.col-md-6 + .justOne { text-align: center; }
	.navbar-right > li { padding-left: 0; }
	.question-symbol, .question-symbol:hover { color: #fff; margin-left: 5px; }
	.signup-btn-decks { position: absolute; top: -50px; width: 93%; left: 0; margin: 0 15px; }
	.bigButtonSignUp {margin-top: 45px !important;margin-bottom: -12px !important;text-align: center !important;}
	.borderRight1 { border-right: 0; }
  .borderRight1 + .col-md-6 ul li { list-style: none; }
  .borderRight1 img { margin-left: -50px; }
  .create-cloudspace-container li a:hover { color: #FFF !important; }
  .accordionInside { padding-bottom: 0 !important; }
}
@media (max-width: 580px) {
	.osimage-label, .controls2, .signUpForm .inputWrap input, .boxes p, .nameField textarea,
	.boxes.font, .open-cloudspace-nav, .nameField, .nameField input, .nameField select, .sideNav { width: 100% !important; }
	.boxes.font { display: inline-block; margin: 20px 0; }
	.sideNav { position: static !important; }
	.nameField textarea { font-size: 16px; }
	.jumbotron p { margin-bottom: 0px; font-size: 30px !important; font-weight: bold; padding-top: 0 !important; }
	.mainText { color: #FFF !important; font-size: 25px !important; font-weight: bold; margin-top: 18px; }
	.dropdown-menu { position: static; }
	.navbar-collapse { max-height: inherit !important; }
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a { color: #FFF; }
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover { color: #000; }
	label + .controls { display: inherit !important; margin: 0 0 0 0; }
	footer .container { width: auto; }
	.marginText { margin-left: 0px; }
	.midFooter { padding: 0; }
	.bottomFooter .col-md-1 { display: none; }
	.bottomFooter .col-md-3 { }
	.modal { width: 65% !important; left: 65% !important;}
	.modal-footer button { font-size: 12px; }
	.modal-header h2 { font-size: 15px; }
	.modal .col-md-3 h4 { margin: 10px auto !important; }
	.modal .col-md-3 img { display: none; }
	.gray .panel-heading .panel-title>a{ background: url(../img/images/acc-arrow-close-white.png) 13px 9px no-repeat #4E8BB3 !important; padding: 8px 25px; color: #FFF !important; }
	/*.gray .panel-heading.open .panel-title>a{ background: url(../img/images/acc-arrow-open-black.png) 11px 10px no-repeat #4E8BB3 !important; padding: 8px 25px; color: #000 !important; }*/
	.gray .panel-body { background: inherit !important; border-top: 0 !important; }
	.gray a { color: #FFF !important; }
	.gray a:hover { color: #000 !important; }
	.accordionInside { min-width: auto; }
	.create-cloudspace-container { background: #4E8BB3 !important; }
	.create-cloudspace { color: #FFF; }
	.create-cloudspace:hover { color: #000; }
	.gray .panel-body ul li { margin: 5px 9px !important; }
	.navbar-header + .navbar-collapse .navbar-right { text-align: right; }
	.navbar-right.clearR.myNav ul { text-align: right; margin: 13px 0; padding: 0; }
	.myNav ul { float: right; }
	.form-horizontal .control-label { text-align: left !important; }
	.nav.navbar-nav.navbar-right { text-align: left; }
	.account-container.stacked { width: 400px !important; }
	.signUpForm .inputWrap { width: 97% !important; }
	.upMargin { margin: 30px auto 0 !important; }
	.inputWrap { width: 98% !important; }
	.myNav ul li { text-align: left; }
	.nav.navbar-nav li:first-child { margin: 0; padding: 0; }
	.nav.navbar-nav li:first-child a { margin-left: 0; padding-left: 0; }
	.jumbotron { padding: 0; margin:0; }
	.boxes h2 { float: left; clear: both; }
	.videoMain { margin: 60px 0 0 0 !important; }
	.marginTop { margin-top: 50px; margin-bottom: 0 }
	.bottomFooter ul li:last-child { height: auto; padding-right: 0; }
	.bottomFooter ul { margin-left: -56px; }
	body { overflow-x: hidden; }
	.nav-tabs>li>a { padding: 5px 7px !important; }
	.list .span3 { width: 104px !important; clear: none; }
	.list .span9 { position: absolute; }
	.login-credentials { display: inline-block; position: absolute; left: 16px; top: 25px; }
	.initial { height: 57px !important; display: inline-block; }
	.tabbable > ul li { float: inherit; }
	.account-container.stacked { width: 262px !important; }
}

@media (max-width: 1376px) and (min-width: 992px) {
	.open #drop1 {padding-left: 10px !important; padding-right: 10px !important;}
	#drop1 {padding-left: 10px !important; }
 }
@media (min-width: 992px) {
 	.open #drop1 { padding-left: 15px !important;color: #FFF !important;}
 	.gray .panel-title>a{border: 1px solid #ddd;}
 	#drop1 {padding-left: 15px !important; }
}

@media (min-width: 768px) and (max-width: 992px) {
		.container {
			width: auto;
		}
    .navbar-collapse.collapse { display: none !important;}
    .navbar-collapse.collapse.in { display: block !important;}
    .navbar-header .collapse, .navbar-toggle { display:block !important; margin: 15px 17px 15px 0 !important;}
    .navbar-header {float:none;}
    .navbar-nav>li>.dropdown-menu {position: static;width: 100%;border: 0;background: transparent;}
		.cloudspace-nav { padding-top: 15px; }
}
@media (min-width: 768px){
		.cloudspace-nav { padding-top: 15px; }
}
@media only screen and (max-width : 992px) {
    .navbar-nav > li {float: none;}
    .nav>li>a {padding-left: 0;}
    .navbar-nav { float: none;}
    .nav.navbar-nav { clear: both; float: left; margin: 0 0 0 -15px; width: 100%;}
    .accordionInside {
    	padding: 0;
    }
    .sm-color {
    	color: #fff !important;
    }
}

/* Mobile Media queries Android, Apple */
@media (max-width: 500px) {
	.modal{
		left: 80% !important;
	}
	.stick-top-right {
		right: 14px !important;
	}
	.sm-font {
		font-size: 12px !important;
	}
}
@media (max-width: 425px) {
	.modal{
		left: 93% !important;
	}
}
@media (max-width: 361px) {
	.modal{
		left: 100% !important;
	}
	.stick-top-right {
		right: 10px !important;
	}
	.sm-font {
		font-size: 10px !important;
	}
}

/* End of Media Queries */
