@charset "utf-8";
.btn.mainButton.wireButton:hover {color: #fff !important;}
.btn.mainButton.wireButton { margin: 10px 0 20px 20px; padding: 7px 16px !important;border: 0;}
.errorSpan { font-size: 30px; color: #2d2d2d;}
.errorSpan + p {font-size: 15px;}
.bgError { background: url(../img/images/error-pic.jpg) 0 0 no-repeat; height: 290px;}
.bgError span { margin: 150px 0 0 107px; display: inline-block; font-size: 51px;}
body ul#resources li.resource div.heading ul.options {margin: 10px 10px 10px 0 !important;}


 @media (max-width: 1376px) {
 	.btn.mainButton.wireButton:hover {color: #fff !important;}
	.btn.mainButton.wireButton { margin: 10px 0 20px 20px;padding: 9px 21px !important;border: 0; font-size: 13px !important;}
	.bgError { background-size: 200px;}
	.bgError span { margin: 114px 0 0 76px;font-size: 41px;}
 }

 @media (max-width: 1290px) {
 	.btn-group.btn-group-sm.priceHM.right { margin: 10px auto 0;float: none;width: 120px;display: block;}
	.well {padding-left: 0px;}
 }

 @media (max-width: 1290px) and (min-width: 992px) {
 }

 @media (max-width: 992px) {
 	.borderL1 { border-left: 0 !important; margin-top: 15px; padding-left: 15px !important;}
 }

 @media (max-width: 768px) {
 	table { width: 100%; overflow-y: hidden; overflow-x: scroll; -ms-overflow-style: -ms-autohiding-scrollbar; border: 1px solid #ddd; -webkit-overflow-scrolling: touch;}
 	.table-responsive .mtm { margin-top: 0;}
 	.nav-tabs { border: 0;}
 }

 @media (max-width: 580px) {
 	.col-md-6 .bulletStyle { width: 260px;padding: 0;margin: 0 0 0 -31px; }
 }

 /*.half.copy.col-md-6 { padding-bottom: 26px;min-height: 209px;}*/
 .half .wideOne { width: 100%;margin-top: 15px;}
 .DesktopDeckColor + .half.col-md-6 {margin: 56px 0 0px 0;}
