/*  /////////////\\\\\\\\\\  */
/*   oocss Generic classes   */
/*  \\\\\\\\\\\\\//////////  */
/*
	Spaces Classes
	--
	-large = 20px;
	-medium = 10px;
	-small = 5px;
	-xlarge = 35px;
	--
*/
.padding-top-none,.padding-vertical-none,.padding-all-none{
	padding-top:0px !important;
}
.padding-top-small,.padding-vertical-small,.padding-all-small{
	padding-top:5px !important;
}
.padding-top-medium,.padding-vertical-medium,.padding-all-medium{
	padding-top:10px !important;
}
.padding-top-large,.padding-vertical-large,.padding-all-large{
	padding-top:20px !important;
}
.padding-right-none,.padding-horizontal-none,.padding-all-none{
	padding-right:0px !important;
}
.padding-right-small,.padding-horizontal-small,.padding-all-small{
	padding-right:5px !important;
}
.padding-right-medium,.padding-horizontal-medium,.padding-all-medium{
	padding-right:10px !important;
}
.padding-right-large,.padding-horizontal-large,.padding-all-large{
	padding-right:20px !important;
}
.padding-bottom-none,.padding-vertical-none,.padding-all-none{
	padding-bottom:0px !important;
}
.padding-bottom-small,.padding-vertical-small,.padding-all-small{
	padding-bottom:5px !important;
}
.padding-bottom-medium,.padding-vertical-medium,.padding-all-medium{
	padding-bottom:10px !important;
}
.padding-bottom-large,.padding-vertical-large,.padding-all-large{
	padding-bottom:20px !important;
}
.padding-left-none,.padding-horizontal-none,.padding-all-none{
	padding-left:0px !important;
}
.padding-left-small,.padding-horizontal-small,.padding-all-small{
	padding-left:5px !important;
}
.padding-left-medium,.padding-horizontal-medium,.padding-all-medium{
	padding-left:10px !important;
}
.padding-left-large,.padding-horizontal-large,.padding-all-large{
	padding-left:20px !important;
}
.margin-top-none,.margin-vertical-none,.margin-all-none{
	margin-top:0px !important;
}
.margin-top-small,.margin-vertical-small,.margin-all-small{
	margin-top:5px !important;
}
.margin-top-medium,.margin-vertical-medium,.margin-all-medium{
	margin-top:10px !important;
}
.margin-top-large,.margin-vertical-large,.margin-all-large{
	margin-top:20px !important;
}
.margin-right-none,.margin-horizontal-none,.margin-all-none{
	margin-right:0px !important;
}
.margin-right-small,.margin-horizontal-small,.margin-all-small{
	margin-right:5px !important;
}
.margin-right-medium,.margin-horizontal-medium,.margin-all-medium{
	margin-right:10px !important;
}
.margin-right-large,.margin-horizontal-large,.margin-all-large{
	margin-right:20px !important;
}
.margin-bottom-none,.margin-vertical-none,.margin-all-none{
	margin-bottom:0px !important;
}
.margin-bottom-small,.margin-vertical-small,.margin-all-small{
	margin-bottom:5px !important;
}
.margin-bottom-medium,.margin-vertical-medium,.margin-all-medium{
	margin-bottom:10px !important;
}
.margin-bottom-large,.margin-vertical-large,.margin-all-large{
	margin-bottom:20px !important;
}
.margin-large-none, .margin-horizontal-none, .margin-all-none{
	margin-left:0px !important;
}
.margin-left-small,.margin-horizontal-small,.margin-all-small{
	margin-left:5px !important;
}
.margin-left-medium,.margin-horizontal-medium, .margin-all-medium{
	margin-left:10px !important;
}
.margin-left-large,.margin-horizontal-large, .margin-all-large{
	margin-left:20px !important;
}
.margin-right-auto,.margin-horizontal-auto{
	margin-right:auto !important;
}
.margin-left-auto,.margin-horizontal-auto{
	margin-left:auto !important;
}
.margin-center-horizontal{
	margin: 0 auto !important;
}
/* xlarges*/
.margin-right-xlarge{
	margin-right: 35px !important;
}
.margin-bottom-xlarge{
	margin-bottom: 35px !important;
}
.marginTopXlarge{
	margin-top: 35px !important;
}
.margin-left-xlarge{
	margin-left: 35px !important;
}

/* */
.left{
	float: left !important;
}
.right{
	float: right;
}
.float-none{
	float: none !important;
}
.clearfix:after {
	content:'\20';display:block;height:0;clear:both;
}
.clearfix {
	*zoom:1;
}
.clear-right{
	clear: right;
}
.clear-left{
	clear: left;
}
.clear-both{
	clear: both;
}
.clear-none{
	clear: none !important;
}
.inline-block{
	display: inline-block !important;
}
.block{
	display: block !important;
}
.display-table{
	display: table !important;
}
.hidden, [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide{
	display: none !important;
}
.create-cloudspace{
	display: inline-block !important;
}
.table-cell{
	display: table-cell;
}
.list-style-none{
	list-style: none !important;
}
.absolute{
	position: absolute !important;
}
.relative{
	position: relative !important;
}
.fixed{
	position: fixed !important;
}
.position-default{
	position: inherit !important;
}
.height-auto{
	height: auto !important;
}
.height-full{
	height: 100%;
}
.height-10{
	height: 10%;
}
.height-20{
	height: 20%;
}
.height-30{
	height: 30%;
}
.height-40{
	height: 40%;
}
.height-50{
	height: 50%;
}
.height-60{
	height: 60%;
}
.height-70{
	height: 70%;
}
.height-80{
	height: 80%;
}
.height-90{
	height: 90%;
}
.width-auto{
	width: auto !important;
}
.width-full{
	width: 100%;
}
.width-10{
	width: 10%;
}
.width-15{
	width: 15%;
}
.width-20{
	width: 20% !important;
}
.width-30{
	width: 30%;
}
.width-40{
	width: 40%;
}
.width-50{
	width: 50%;
}
.width-60{
	width: 60%;
}
.width-70{
	width: 70% !important;
}
.width-80{
	width: 80%;
}
.width-90{
	width: 90%;
}
.width-95{
	width: 95%;
}

.line-height{
	line-height: 1.6em !important;
}
.background-transparent{
	background-color: rgba(0, 0, 0, 0);
}
.no-background{
	background: none !important;
}
/*////////////////*/
/* Text Classes */
/*////////////////*/
.txt-gray{
	color: rgb(102, 102, 102) !important;
}
.txt-dark-gray{
	color: #444444;
}
.txt-black{
	color: #000 !important;
}
.txt-white{
	color: #fff !important;
}
.txt-dark-blue{
  color: #345E79;
}
.txt-arial{
	font-family: arial, sans-serif !important;
}
.txt-verdana{
	font-family: verdana !important;
}
.txt-center {
	text-align: center !important;
}
.txt-right {
	text-align: right !important;
}
.txt-left {
	text-align: left !important;
}
.txt-thin{
	font-weight: thin !important;
}
.txt-normal{
	font-weight: normal !important;
}
.txt-bold{
	font-weight: bold !important;
}
.txt-justify{
	text-align: justify !important;
}
.txt-uppercase{
	text-transform: uppercase !important;
}
.txt-italic{
	font-style: italic;
}
.word-break{
	word-break: break-all !important;
}
.txt-10 {
	font-size: 10px;
}
.txt-12{
	font-size: 12px;
}
.txt-13{
	font-size: 13px;
}
.txt-14{
	font-size: 14px !important;
}
.txt-15{
	font-size: 15px;
}
.txt-16{
	font-size: 16px;
}
.txt-17{
	font-size: 17px;
}
.txt-19{
	font-size: 19px;
}
.txt-20{
	font-size: 20px;
}
.txt-25{
	font-size: 25px;
}
.underline{
	text-decoration: underline;
}
.no-text-decoration{
	text-decoration: none;
}
.nowrap{
	white-space: nowrap;
}

/*  Borders  */
.no-border-radius{
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.border-radius{
	-moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
}
.border-radius-bottom{
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.border-none{
	border: 0;
}
.border-light-blue{
	border: 1px solid #06a7e2;
}

/*cursors*/
.cursor-pointer{
	cursor: pointer;

}
.cursor-default, .cursor-default:hover{
	cursor: default;
}

.click-disabled {
	pointer-events: none;
	opacity: 0.4;
}

/* background colors */
.background-black{
	background: #000;
}
.background-white{
	background-color: #fff !important;
}
.opacity4{
	opacity: .4;
}

/* positions */
.position-top-small{
	top: 5px;
}
.position-top-none{
	top: 0px;
}
.position-right-medium{
	right: 15px;
}

/*  /////////////\\\\\\\\\\  */
/*   	   End of oocss   	 */
/*  \\\\\\\\\\\\\//////////  */
