<div class="row txt-center margin-vertical-small ng-cloak" ng-show="currentSpace.status != 'DEPLOYED'">
	<div class="alert alert-warning margin-center-horizontal width-60">Unavailable until the first Virtual Machine is deployed</div>
</div>
<div class="margin-bottom-small" ng-controller="PortforwardingController">
		<button ng-show="currentUser.acl.cloudspace > 1" class="btn btn-info btn-large right" ng-class="{marginTopXlarge: currentSpace.status != 'DEPLOYED'}" ng-disabled="currentSpace.status != 'DEPLOYED' && currentUser.acl.cloudspace > 1" ng-click="portForwardPopup()">Add</button>
	<h1 ng-class="{opacity4: currentSpace.status != 'DEPLOYED'}">Port Forwards</h1>
	<p ng-class="{opacity4: currentSpace.status != 'DEPLOYED'}">
		Easily configure your port forwards to your Virtual Machines! Please take a small waiting period into account on a new deployed virtual machine, as it can still be starting or that your Defense Shield might still be in the process of assigning the IP address.
	</p>
	<div class="margin-vertical-large">
		<div class="gray-loader" ng-show="portforwardLoader">
			Loading, Please wait..
		</div>
		<div class="hide" ng-class="{ 'show': portforwardLoader == false }">
			<div class="table-responsive">
				<table class="table table-striped table-bordered" ng-show="portforwardLoader == false" ng-class="{opacity4: currentSpace.status != 'DEPLOYED'}">
					<tr>
						<th><a href="" ng-click="predicate = 'ip'; reverse=!reverse">IP</a></th>
						<th><a href="" ng-click="predicate = 'puplicPort'; reverse=!reverse">Port</a></th>
						<th><a href="" ng-click="predicate = 'machineName'; reverse=!reverse">Virtual Machine</a></th>
						<th><a href="" ng-click="predicate = 'localPort'; reverse=!reverse">Port</a></th>
						<th><a href="" ng-click="predicate = 'protocol'; reverse=!reverse">Protocol</a></th>
					</tr>
					<tbody>
						<tr ng-click="tableRowClicked(portforward)" ng-repeat="portforward in portforwarding | orderBy:predicate:reverse | groupBy:'ip' | groupBy:'vmName'">
							<td class="hidden">{[portforward.id]}</td>
							<td ng-class="{'cursor-pointer': currentUser.acl.cloudspace > 1}">{[portforward.publicIp]}</td>
							<td ng-class="{'cursor-pointer': currentUser.acl.cloudspace > 1}">{[portforward.publicPort]}</td>
							<td ng-class="{'cursor-pointer': currentUser.acl.cloudspace > 1}">{[portforward.machineName]}</td>
							<td ng-class="{'cursor-pointer': currentUser.acl.cloudspace > 1}">{[portforward.localPort]}</td>
							<td ng-class="{'cursor-pointer': currentUser.acl.cloudspace > 1}">{[portforward.protocol]}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p ng-show="message" class="alert alert-success span2 txt-center padding-all-small">{[statusMessage]}</p>
		</div>
	</div>
</div>
<script type="text/ng-template" id="portForwardDialog.html">
<style type="text/css">
	.modal-body{
		overflow: visible;
		min-height: 240px;
	}
</style>
<form name="form" class="form-horizontal" ng-submit="submit()" ng-controller="OpenvCloudTourController">
  <tour step="steps.portForwardTourStep" post-step="postStepCallback()" post-tour="tourComplete('portForwardTourStep')">
    <div class="modal-header">
      <h3>Port Forward</h3>
    </div>
    <div class="modal-body row-fluid width-95">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>Source</h4>
        <div class=" margin-top-none" >
          <label class="control-label float-none ipTip" for="inputNewIP" tourtip="Your Public IP, serviced by your Defense Shield. Set here what ports you are opening on your firewall. Type the port number or select from the preset ports" tourtip-placement="top" >Public IP</label>
          <div class=" margin-left-none line-height">
            {[currentSpace.publicipaddress]}
          </div>
          <label class="control-label float-none margin-top-medium">Port</label>
          <div class="">
            <autocomplete ng-model="newRule.publicPort" class="publicPort" click-activation="true" data="commonPorts" on-type="suggestCommonPorts"></autocomplete>
            <label class="control-label float-none margin-top-small" for="inputProtocol">Protocol</label>
            <div class="">
              <select ng-model="newRule.protocol" ng-options="o as o for o in ['tcp','udp']" class="form-control">
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sm-margin">
        <h4>Destination</h4>
        <div class="margin-top-none">
          <label class="control-label float-none machineTip width-90" tourtip="Choose the machine and port you want to connect to. In most cases this will be the same port" tourtip-placement="left" >Virtual Machine</label>
          <div>
            <select ng-model="newRule.VM" ng-options="machine.name for machine in currentSpace.machines | filter:machineIsManageable" class="form-control">
            </select>
          </div>
          <label class="control-label float-none margin-top-small" for="inputNewLocalPort">Port</label>
          <div class="">
            <autocomplete ng-model="newRule.localPort" class="localPort" click-activation="true" data="commonPorts" on-type="suggestCommonPorts"></autocomplete>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer padding-all-large">
      <button type="submit" class="btn btn-primary ok">Ok</button>
      <button type="button" class="btn cancel" ng-click="cancel()">Cancel</button>
    </div>
  </tour>
</form>
</script>
<script type="text/ng-template" id="editPortForwardDialog.html">
<style type="text/css">
	.modal-body{
		min-height: 240px;
	}
</style>
<form name="form" class="form-horizontal" ng-submit="update()">
  <div class="modal-header">
    <h3>Edit Port Forward</h3>
  </div>
  <div class="modal-body row-fluid width-95">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h4>Source</h4>
      <div class="margin-top-none">
        <label class="control-label float-none" for="inputNewIP">Public IP</label>
        <div class="controls margin-left-none line-height">
          {[currentSpace.publicipaddress]}
        </div>
        <label class="control-label float-none margin-top-medium">Port</label>
        <div class="">
          <autocomplete ng-model="editRule.publicPort" class="publicPort" click-activation="true" data="commonPorts" on-type="suggestCommonPorts"></autocomplete>
        </div>
        <label class="control-label float-none margin-top-small" for="inputProtocol">Protocol</label>
        <div class="">
          <select ng-model="editRule.protocol" ng-options="o as o for o in ['tcp','udp']" class="form-control"></select>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sm-margin">
      <h4>Destination</h4>
      <div class="margin-top-none">
        <label class="control-label float-none width-90">Virtual Machine</label>
				<div class="">
          <select ng-model="editRule.VM.id" ng-options="machine.id as machine.name for machine in currentSpace.machines" class="form-control">
          </select>
        </div>
        <label class="control-label  float-none margin-top-small" for="inputNewLocalPort">Port</label>
        <div class="">
          <autocomplete ng-model="editRule.localPort" class="localPort" click-activation="true" data="commonPorts" on-type="suggestCommonPorts"></autocomplete>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer padding-all-large">
    <button type="submit" class="btn btn-primary ok">Ok</button>
    <button type="button" class="btn cancel" ng-click="delete()">Delete</button>
    <button type="button" class="btn cancel" ng-click="cancel()">Cancel</button>
  </div>
</form>
</script>
