<div ng-controller="BillingController">
<div class="table-responsive">
<div class="gray-loader" ng-show="transactionsLoader">
  Loading, Please wait..
</div>
<table class="table table-striped table-bordered hide" ng-class="{ 'display-table': transactionsLoader == false }">
    <thead>
        <tr>
            <th>Time</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="transaction in transactions | orderBy:'time':true">
            <td>{[transaction.time * 1000 | date]}</td>
            <td><a href="" ng-click="showUsageDetails(transaction.reference)" ng-show="transaction.status == 'DEBIT'">Details</a></td>
        </tr>
    </tbody>
</table>
</div>
</div>
