<h1>Create Machine</h1>

Configure your virtual machine by choosing your package, server OS and additional SSD storage.

<div class="form-horizontal">
    <div class="nameField">
        <h2>Name:</h2>
        <input ng-model="machine.name" type="text" class="input-xxlarge"/>
    </div>
    <div class="nameField">
        <h2>Description:</h2>
            <textarea ng-model="machine.description" type="text" class="input-xxlarge" />
    </div>
    <div class="osimage-label nameField clear-both inline-block">
        <h2>OS Image</h2>

    </div>
    <div class="controls controls2">{{include:image_list}}</div>
    <div class="machineWrap">
        <h2>Package *:</h2>
        {{include:packages_list}}
    </div>

    <div>
        <h2>Increase disk size to:</h2>
        <div class="machineList" >
            <ul class="storage-size-list inline-block margin-all-none padding-all-none">
             <li ng-repeat="diskSize in packageDisks">
             <h1></h1>
                <button type="button" class="btn btn-selector table-cell disk disk-{[diskSize]}" ng-class="{active : diskSize == machine.disksize}" ng-click="machine.disksize = diskSize">
                  {[diskSize]} GB at SSD speed<br>
                </button>
              </li>
            </ul>
        </div>
    </div>


    <div class="form-actions">
        <button class="btn btn-info btn-large mainButton" ng-click="saveNewMachine()" ng-disabled="!isValid()">Create</button>
    </div>
</div>
