</style>
<div id="tabbable">
    <ul class="nav nav-tabs">
        <li ng-repeat="type in groupedImages" ng-class="{active : $first}">
            <a data-toggle="tab" ng-href="#{[ type[0].replace(' ', '-') ]}" onclick="$(this).show('tab');return false;">{[ type[0] ]}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="{[ type[0].replace(' ', '-') ]}" class="tab-pane" ng-repeat="type in groupedImages" ng-class="{active : $first}">
            <ul class="padding-left-none">
                <button ng-repeat="image in type[1]"
                    type="button" class="btn btn-selector btn-large mainButton osImage-btn" ng-model="machine.imageId" btn-radio="'{[ image.id ]}'">{[ image.name  ]}</button>
            </ul>
        </div>
    </div>
</div>
