<div>
	<ul class="storage-size-list inline-block margin-all-none padding-all-none">
		<em ng-show="(machine.disks).length == 0">Machine hasn't data disks.</em>
		<li ng-repeat="disk in machine.disks" class="disk-container relative">
		 	<div class="disk-control-bar clearfix" ng-show="currentUser.acl.cloudspace > 1 || currentUser.acl.account > 1">
		 		<span ng-show="disk.type != 'B'" class="disk-control detach right margin-left-medium" title="Remove disk" ng-click="removeDisk(disk)"><i class="fa fa-minus-circle"></i></span>
		 		<span ng-show="disk.type != 'B'" class="disk-control right margin-left-medium" title="Move disk" ng-click="moveDisk(disk, currentSpace, machines)"><i class="fa fa-share"></i></span>
		 	</div>
		    <button type="button" class="btn btn-selector table-cell disk relative" title="{[disk.descr]}">
		      <span ng-class="{'label-name': disk.type == 'B' }">
						{[disk.name]}
					</span>
					<br>
		      {[disk.sizeMax]} GB at SSD speed
					<br>
		    </button>
	  	</li>
	</ul>
</div>
<script type="text/ng-template" id="removeDiskDialog.html">
	<form name="removediskform" ng-submit="cancelDestroy()">
	    <div class="modal-header">
	        <h3>Remove disk?</h3>
	    </div>
	    <div class="modal-body">
	        Are you sure you want to remove "{[disk.name]}"?
	        <br />
	        All disk data will be lost.
	    </div>
	    <div class="modal-footer">
	        <button type="button" class="btn ok" ng-click="ok()">Ok</button>
	        <button type="submit" id="submitdestroyform" class="btn btn-primary" autofocus>Cancel</button>
	    </div>
	</form>
</script>

<script type="text/ng-template" id="moveDiskDialog.html">
	<form name="movediskform" ng-submit="cancelDestroy()">
	    <div class="modal-header">
	        <h3>Move disk</h3>
	    </div>
	    <div class="modal-body">
	    	<div class="margin-bottom-large">
		    	<h4>Move disk to:</h4>
		    	<select ng-model="diskDestination" ng-options="machine.name for machine in machines" class="form-control"></select>
		    	<em class="block" ng-show="diskDestination.status != 'HALTED'">The Machine you want to move disk to must be stopped.</em>
	    	</div>
	    	<div>
	    		Are you sure you want to move "{[disk.name]}" into "{[diskDestination.name]}"?
	    	</div>
	    </div>
	    <div class="modal-footer">
	        <button type="button" class="btn ok" ng-click="ok(diskDestination)" ng-disabled="diskDestination.status != 'HALTED'">Ok</button>
	        <button type="submit" id="submitdestroyform" class="btn btn-primary" autofocus>Cancel</button>
	    </div>
	</form>
</script>
