<h1>Profile</h1>
<div ng-controller="UsersController">
  <form name="form" ng-submit="updatePassword()">
    <div class="tab-pane row margin-bottom-large margin-left-medium">
      <div class="nameField width-full margin-bottom-medium">
         <label class="left control-group margin-all-none margin-right-medium line-height txt-14 width-15">Current password:</label>
        <input required ng-model="oldPassword" type="password" class="input-xxlarge width-20 left margin-right-medium">
      </div>
      <div class="nameField width-full margin-bottom-medium">
         <label class="left control-group margin-all-none margin-right-medium line-height txt-14 width-15">New password:</label>
        <input required ng-model="newPassword" type="password" class="input-xxlarge width-20 left margin-right-medium">
      </div>
      <div class="nameField width-full margin-bottom-medium">
         <label class="left control-group margin-all-none margin-right-medium line-height txt-14 width-15">Retype password:</label>
        <input required ng-model="retypePassword" type="password" class="input-xxlarge width-20 left">
      </div>
    </div>
      <button type="submit" class="btn btn-info btn-large margin-top-large margin-bottom-large">Update Password</button>
      <div class="txt-center">
        <div class="alert txt-center margin-top-large width-40" ng-class="{'alert-success': alertStatus=='success', 'alert-danger': alertStatus=='error'}" ng-show="updateResultMessage">{[ updateResultMessage ]}</div>
      </div>
    </form>
    <label class="left control-group margin-top-large margin-right-medium line-height txt-14 width-15">Tour instructions:</label>
    <label class="switch switch-flat margin-top-large left">
    <input ng-model="tourSwitchFlag" ng-checked="tourSwitchFlag" class="switch-input" type="checkbox" ng-change="tourSwitch()" />
    <span class="switch-label" data-on="On" data-off="Off"></span>
    <span class="switch-handle"></span>
    </label>
</div>
