<script type="text/ng-template" id="tour/tour.tpl.html">
    <div class="tour-tip" ng-show="tourtips">
        <span class="tour-arrow tt-{[ ttPlacement ]}"></span>
        <div class="tour-content-wrapper">
            <p ng-bind="ttContent"></p>

            <!-- As an example, you can change the buttons based on the current step -->
            <a ng-click="setCurrentStep(getCurrentStep() + 1)" ng-bind="ttNextLabel" class="small button tour-next-tip"></a>
            <a ng-click="closeTour(); disableTourForEverModal()" class="tour-close-tip">×</a>
        </div>
    </div>
</script>
<div id="disableTourDialog" class="modal fade bs-example-modal-lg" data-keyboard="true">
	<div class="modal-header">
		<h4 class="modal-title">Disable tour tips</h4>
	</div>
	<div class="modal-body">
		Are you sure, you want to disable tour tips?
		<br/>
		You can always get it back from <a href="/#/Profile" target="_blank">user page</a>.
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="DisableTourForEverModal()">Ok</button>
		<button type="button" class="btn" ng-click="cancelDisableTourForEverModal()">Cancel</button>
	</div>
</div>
