<link href="css/font-awesome-animation.min.css" rel="stylesheet" type="text/css">
<div class="gray-loader" ng-hide="machine">
    Loading, Please wait..
</div>
<div ng-show="machine">
    <h1>Machine: {[machine.name]}</h1>
    <tour step="steps.machineDetailTourStep" post-step="postStepCallback()" post-tour="tourComplete('machineDetailTourStep')">
    <a ng-click="refreshData()" class="refresh-page btn btn-info margin-top-large right txt-15 margin-right-medium" tourtip="On first creation, use refresh to show your IP address. Your Defense shield assigns a fix IP address during the initial OS boot." title="On first creation, use refresh to show your IP address.
Your Defense shield assigns a fix IP address during the initial OS boot.">
        <i ng-show="refreshSpinner" class="fa fa-spinner faa-spin animated"></i>
        Refresh
    </a>
    <tabset class="clear-both">
          <tab id="actions" heading="Actions" active="tabactive.actions">
            <div id="actions" class="tab-pane active">
                <div class="row">
                    <div class="span8">
                        <ul class="list padding-left-medium">
                            <li>
                                <div class="row">
                                    <div class="span3 line-height">Description</div>
                                    <div class="span9 clear-none inline-block txt-justify edit-description cursor-pointer width-70 margin-vertical-small position-default">
                                        <div ng-show="currentUser.acl.machine > 1" ng-click="updateDescriptionPopup()" class="word-break">{[machine.description]}
                                            <em class="right edit-description-link">Edit</em>
                                        </div>
                                    <div class="cursor-default" ng-hide="currentUser.acl.machine > 1">
                                        {[machine.description]}
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="span3 line-height">Status</div>
                                    <div class="span9 clear-none inline-block margin-vertical-small">{[machine.status]}</div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="span3 line-height">IP Address</div>
                                    <div class="span9 clear-none inline-block margin-vertical-small">{[machine.interfaces[0].ipAddress]}</div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="span3 line-height">OS Image</div>
                                    <div class="span9 clear-none inline-block margin-vertical-small">{[machine.osImage]}</div>
                                </div>
                            </li>
                            <li class="initial">
                                <div class="row">
                                    <div class="span3 line-height">Initial Credentials</div>
                                    <div class="span9 clear-none inline-block margin-vertical-small"><span class="login-credentials margin-right-xlarge" tourtip="Your private IP address. To access publicly, set a port forward. Advanced users can configure the Defense Shield">Login: {[machine.accounts[0].login]}</span> <span tourtip="Initial login credentials, this is an admin user. Linux: Use sudo to execute commands with root privileges. Windows login is an administrator user.">Password: {[machine.accounts[0].password]}</span></div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="span3 line-height">CPU</div>
                                    <div class="span9 clear-none inline-block margin-vertical-small">{[machineinfo.size.vcpus]} <ng-pluralize count="machineinfo.size.vcpus" when="{'one': 'core', 'other': 'cores'}"></ng-pluralize></div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="span3 line-height">Memory</div>
                                    <div class="span9 clear-none inline-block margin-vertical-small">{[numeral(machineinfo.size.memory * 1024 *1024).format('0 b')]}</div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="span3 line-height">Storage</div>
                                    <div class="span9 clear-none inline-block margin-vertical-small">{[ numeral(machineinfo.storage * 1024 * 1024 * 1024).format('0 b') ]}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="span3 machine-actions margin-left-large" ng-show="currentUser.acl.machine > 1">
                        <h4>Actions</h4>    <i ng-show="machine.locked == true" class="fa fa-large fa fa-lock"></i>
                        <ul class="actions margin-all-none padding-all-none padding-left-small">

                            <li ng-show="machine.status == 'HALTED' && machine.locked == false">
                                <a ng-click="start()">
                                    <i class="fa fa-play-circle"></i>
                                    Start
                                </a>
                            </li>

                            <li ng-show="machine.status == 'PAUSED' && machine.locked == false">
                                <a ng-click="resume()">
                                    <i class="fa fa-play-circle"></i>
                                    Resume
                                </a>
                            </li>

                            <li ng-show="machine.status == 'RUNNING' && machine.locked == false">
                                <a ng-click="pause()">
                                    <i class=" fa fa-pause"></i>
                                    Pause
                                </a>
                            </li>

                            <li ng-show="machine.status == 'RUNNING' && machine.locked == false">
                                <a ng-click="stop()">
                                    <i class="fa fa-stop "></i>
                                    Stop
                                </a>
                            </li>
                            <li ng-show="machine.status == 'RUNNING' && machine.locked == false">
                                <a ng-click="reboot()">
                                    <i class="fa fa-refresh "></i>
                                    Reboot
                                </a>
                            </li>
                            <li ng-show="machine.status == 'RUNNING' && machine.locked == false">
                                <a ng-click="reset()">
                                    <i class="fa fa-repeat "></i>
                                    Reset
                                </a>
                            </li>
                            <li ng-show="currentUser.acl.machine > 1 && machine.locked == false">
                                <a class="forTipSnap" ng-click="createSnapshot()" ng-class="{'action-disabled': machine.locked != false}" tourtip="Taking a snapshot ensures you have a point in time to return to. Taking a snapshot takes seconds.">
                                    <i class="fa fa-camera"></i>
                                    Take Snapshot
                                </a>

                <script type="text/ng-template" id="createSnapshotDialog.html">
                                <form name="form" ng-submit="submit(form)">
                                    <div class="modal-header">
                                        <h3>Take snapshot</h3>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            Name:
                                            <input ng-model="form.newSnapshotName" type="text" class="input-large" placeholder="Name"/>
                                        </ul>
                                    </div>
                                     <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary ok">Ok</button>
                                        <button type="button" class="btn cancel" ng-click="cancel()">Cancel</button>
                                    </div>
                                    </form>
                </script>
          </li>
          <!-- <li>
              <a onclick="location.reload()">
                  <i class="fa fa-undo"></i>
                  Rebuild
              </a>
          </li> -->
          <li ng-show="currentUser.acl.account > 1 && machine.locked == false">
                  <a class="forTip" ng-click="createTemplate()" ng-class="{'action-disabled': machine.locked != false}" tourtip="Create a template of your Machine. Template creation takes several minutes, you don`t need to keep this page open.">
                      <i class="fa fa-copy"></i>
                      Create Template
                  </a>
                  <script type="text/ng-template" id="createTemplateDialog.html">
                      <div class="modal-header">
                          <h3>Create Template</h3>
                  </div>
                  <div class="modal-body">
                      <ul>
                          Name: <input ng-model="createtemplate.name" type="text" class="input-large" />
                      </ul>
                      <div class="alert alert-warning margin-top-large">
                      Creating a template might take some time during this process your Virtual Machine will be locked.
                      Limited actions will be available.
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-primary ok" ng-click="ok()">Create Template</button>
                      <button class="btn cancel" ng-click="cancel()">Cancel</button>
                  </div>
              </script>
          </li>
          <li ng-show="currentUser.acl.cloudspace > 1 && machine.locked == false">
                  <a ng-click="resize(currentSpace, machine.status)"
                     ng-class="{'opacity4 cursor-default': machine.status !== 'HALTED' }"
                     title="{[ machine.status !== 'HALTED' ? 'Machine has to be halted.' : '']}">
                      <i class="fa fa-expand"></i>
                      Resize compute capacity
                  </a>
                  <script type="text/ng-template" id="resizeMachineDialog.html">
                    <div>
                        <div class="modal-header">
                            <h3>Resize compute capacity</h3>
                        </div>
                        <div class="modal-body">
                              <div class="packages">
                                  <div ng-repeat="size in sizes | orderBy:sizepredicate" class="package"
                                      ng-click="setPackage(size)">
                                      <input type="radio" name="packages" value="" id="package-{[$index]}" ng-checked="selectedPackage.id === size.id" />
                                      <label for="package-{[$index]}">
                                          <span></span>
                                          <strong>
                                              {[ numeral(size.memory * 1024 * 1024).format('0 b') ]}
                                          </strong>  Memory,
                                          <strong>{[ size.vcpus ]}</strong> core(s)
                                      </label>
                                  </div>
                              </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary ok" ng-click="ok()" ng-disabled="!selectedPackage">Ok</button>
                            <button type="submit" class="btn" ng-click="cancel()" autofocus>Cancel</button>
                        </div>
                    </div>
                  </script>
              </li>
              <li ng-show="currentUser.acl.cloudspace > 1 && machine.locked == false">
                      <a ng-click="destroy()">
                          <i class=" fa fa-times-circle-o"></i>
                          Destroy
                      </a>
                      <script type="text/ng-template" id="destroyMachineDialog.html">
                          <form name="destroyform" ng-submit="cancelDestroy()">
                              <div class="modal-header">
                                  <h3>Destroy machine?</h3>
                              </div>
                              <div class="modal-body">
                                  <input type="hidden" value="hiddenmarker" name="hiddencsmarker"/>
                                  After destroying a machine all data is lost.
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn ok" ng-click="ok()">Ok</button>
                                  <button type="submit" id="submitdestroyform" class="btn btn-primary" autofocus>Cancel</button>
                              </div>
                          </form>
                      </script>
                  </li>
                    </ul>
                </div>
            </div>
            <script type="text/ng-template" id="updateDescription.html">
                                <form name="form" class="form-horizontal" ng-submit="submit()">
                                    <div class="modal-header">
                                        <h3>Edit Description</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="control-group">
                                            <label class="control-label txt-gray" for="inputNewCloudSpaceName">Description</label>
                                            <div class="controls">
                                                <textarea class="description-textarea" ng-model="machine.newdescription" type="text" class="input-xlarge" placeholder="Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary ok">Ok</button>
                                        <button type="button" class="btn cancel" ng-click="cancel()">Cancel</button>
                                    </div>
                                    </form>
                </script>
            </div>
          </tab>
          <tab id="console" heading="Console" active="tabactive.console">
            <div id="console" class="tab-pane" ng-controller="ConsoleController">
                <div ng-model="machineConsoleUrlResult">
                    <em class="block" ng-show="machine.status == 'RUNNING'">Click the console screen or use the control buttons below to get access to the screen. In case of a black screen,
                    hit any key to disable the screen saving mode of your virtual machine.</em>
                    <div class="error" ng-show="!!machineConsoleUrlResult.error">
                        The machine is not running.
                    </div>
                    <div class="row" ng-show="machine.status == 'RUNNING'">
                        <div class="span2 txt-verdana">
                            <h4 class="txt-15 txt-normal margin-bottom-none">IP Address</h4>
                            <p>
                                {[machine.interfaces[0].ipAddress]}
                            </p>
                        </div>

                        <div class="span2 txt-verdana">
                            <h4 class="txt-15 txt-normal margin-bottom-none">Initial Login</h4>
                            <p>
                                {[machine.accounts[0].login]}<a class="margin-left-small" ng-click="sendText(rfb, machine.accounts[0].login)"><i class="fa fa-clipboard" title="Copy username to console"></i></a>
                            </p>
                        </div>
                        <div class="span2 txt-verdana">
                            <h4 class="txt-15 txt-normal margin-bottom-none">Initial Password</h4>
                            <div class="margin-left-xlarge margin-top-small">
                              <a ng-hide="passwordHidden" ng-click="passwordHidden = true" title="Show password" class="margin-right-small"><i class="fa fa-eye"></i></a>
                              <span ng-show="passwordHidden">{[machine.accounts[0].password]}</span>
                              <a ng-show="passwordHidden" ng-click="passwordHidden = false" title="Hide password" class="margin-right-small"><i class="fa fa-eye-slash"></i></a>
                              <a ng-click="sendText(rfb, machine.accounts[0].password)"><i class="fa fa-clipboard" title="Copy password to console"></i></a>
                            </div>
                        </div>
                        <div class="span6 margin-top-small right txt-right">
                            <input id="capturekeyboardbutton" type=button class="btn mainButton btn-info float-none margin-right-medium" value="Capture keyboard"></input>
                            <div id="noVNC_buttons" class="inline-block">
                              <input type=button class="btn mainButton btn-info" ng-click="rfb.sendCtrlAltDel()" value="Send CtrlAltDel"
                              id="sendCtrlAltDelButton">
                            </div>
                        </div>
                    </div>
                    <div novncwindow connectioninfo="novnc_connectioninfo">
            </div>
                </div>
            </div>
          </tab>
            <tab id="Disks" heading="Disks" active="tabactive.newDisks">
                <div id="Disks" class="tab-pane">
                  <ul class="nav nav-pills">
                    <li ng-class="{active: tabState === 'currentDisks'}"><a data-toggle="pill" href="" ng-click="changeTabState('currentDisks')">Current disk</a></li>
                    <li ng-class="{active: tabState === 'createDisks'}" ng-show="currentUser.acl.cloudspace > 1 || currentUser.acl.account > 1"><a data-toggle="pill" ng-click="changeTabState('createDisks')">Create disks</a></li>
                  </ul>
                  <div class="marginTopXlarge machine-disks">
                    <div ng-show="tabState === 'currentDisks'">
                      <div ng-include src="'Portal/Decks/MachineDeck/includes/storage_list.html'"></div>
                    </div>
                    <div ng-show="tabState === 'createDisks'">
                        <div ng-include src="'Portal/Decks/MachineDeck/includes/create_disk.html'"></div>
                    </div>
                  </div>
                </div>
            </tab>
          <tab heading="Snapshots" active="tabactive.snapshots">


            <div id="snapshots" class="tab-pane">
                <a ng-show="currentUser.acl.machine > 1 && machine.locked == false" class="snap2" ng-click="createSnapshot()" ng-class="{'action-disabled': machine.locked != false}" class="margin-bottom-small inline-block">
                    <i class="fa fa-camera"></i>
                    Take Snapshot
                </a>
                <div class="table-responsive margin-top-medium">
                    <div class="gray-loader" ng-show="snapshotsLoader">
                        Loading, Please wait..
                    </div>
                    <table class="table table-bordered table-striped" ng-show="snapshots.length > 0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th ng-show="currentUser.acl.machine > 1">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="snapshot in snapshots | orderBy:'-epoch'">
                                <td width="45%">{[snapshot.name]}</td>
                                <td class="nowrap">
                                    {[snapshot.epoch * 1000 | date:'medium']}
                                </td>
                                <td ng-show="currentUser.acl.machine > 1">
                                    <a class="cursor-pointer margin-all-small txt-17" title="Rollback" ng-show="machine.locked == false" ng-click="rollbackSnapshot(snapshot)"><i class="fa fa-undo"></i></a>
                                    <script type="text/ng-template" id="rollbackSnapshotDialog.html">
                                        <form name="destroyform" ng-submit="cancelDestroy()">
                                            <div class="modal-header">
                                                <h3>Rollback snapshot?</h3>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" value="hiddenmarker" name="hiddencsmarker"/>
                                                Are you sure you want to rollback snapshot?
                                                <div class="alert alert-warning margin-top-medium" role="alert">
                                                Snapshots newer then current snapshot will be removed.
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn ok" ng-click="ok()">Ok</button>
                                                <button type="submit" id="submitdestroyform" class="btn btn-primary" autofocus>Cancel</button>
                                            </div>
                                        </form>
                                    </script>
                                    <a ng-show="currentUser.acl.machine > 1" class="cursor-pointer margin-all-small txt-17" title="Delete" ng-show="machine.locked == false" ng-click="deleteSnapshot(snapshot)"><i class="fa fa-times"></i></a>
                                    <script type="text/ng-template" id="deleteSnapshotDialog.html">
                                        <form name="destroyform" ng-submit="cancelDestroy()">
                                            <div class="modal-header">
                                                <h3>Delete snapshot?</h3>
                                            </div>
                                            <div class="modal-body">
                                                <input type="hidden" value="hiddenmarker" name="hiddencsmarker"/>
                                                Are you sure you want to delete snapshot?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn ok" ng-click="ok()">Ok</button>
                                                <button type="submit" id="submitdestroyform" class="btn btn-primary" autofocus>Cancel</button>
                                            </div>
                                        </form>
                                    </script>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </tab>
          <tab heading="Change Log" active="tabactive.changelog">
            <div id="logging" class="tab-pane">
                <div ng-include src="'Portal/Decks/MachineDeck/includes/machine_history.html'"></div>
            </div>
          </tab>
          <tab heading="Sharing" active="tabactive.sharing">
            <div id="sharing" class="tab-pane">
              <div ng-include src="'Portal/Decks/MachineDeck/includes/machine_share.html'"></div>
            </div>
          </tab>
          <tab heading="Port Forwards" active="tabactive.portForwards">
            <div id="portForwards" class="tab-pane">
                <div ng-include src="'Portal/Decks/MachineDeck/includes/machine_portforwards.html'"></div>
            </div>
          </tab>
    </tabset>
    </tour>
</div>
