<div>
<div class="gray-loader" ng-show="cloudSpaceSettingsLoader">
  Loading, Please wait..
</div>
	<div class="hide" ng-class="{ 'show': cloudSpaceSettingsLoader == false }">
	<h1>Settings for Cloud Space {[currentAccount.name]} / {[currentSpace.name]}</h1>
	<br>
	<tabset class="clear-both">

		<!-- <tab id="access" heading="Access Management">
			<div id="access" class="tab-pane">
      <div ng-include src="'Portal/Admin/CloudSpaceSettings/CloudSpaceAccessManagement/CloudSpaceAccessManagement.html'"></div>
			</div>
		</tab> -->
		<tab id="details" heading="Details">
			<div id="details" class="tab-pane active" >
				<div class="clearfix margin-bottom-medium">
					<label class="left margin-right-medium">Secret API Key:</label>
					<span class="txt-gray txt-13">{[ cloudSpaceDetails.secret]}</span>
				</div>
				<div class="margin-bottom-medium clearfix" ng-show="currentLocation">
      			<label class="left margin-right-medium">Location:</label>
      			<div class="left">
      				<span class="txt-gray txt-13 bg-info padding-horizontal-medium padding-vertical-small">{[currentLocation.name]}</span>
      			</div>
    		</div>
				<!-- <hr class="margin-top-large margin-bottom-large"> -->
				<!-- <button class="btn margin-top-large clear-both left" ng-click="deleteCloudspace()" ng-show="currentUser.acl.cloudspace == 3"><i class="fa fa-trash"></i> Delete Cloud Space</button> -->
				<script type="text/ng-template" id="deleteCloudSpaceDialog.html">
					<form name="destroyform" ng-submit="cancelDeletion()">
						<div class="modal-header">
								<h3>Delete Cloud Space?</h3>
						</div>
						<div class="modal-body">
								<input type="hidden" value="hiddenmarker" name="hiddencsmarker"/>
								Deleting a Cloud Space is irreversible and <br/>
								all data and authorizations to it will be removed.
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-primary ok" ng-click="ok()">Ok</button>
								<button type="submit" id="canceldelete" class="btn" autofocus>Cancel</button>
						</div>
					</form>
				</script>
			</div>
		</tab>
	</tabset>
</div>
</div>
